{{ range .Site.Data.toc }}
	<h3>{{ .name }}</h3>
	<ul>
		{{ $u := urls.Parse .url }}
		{{ $url := .url }}
		{{ if not $u.IsAbs }}
			<li><a href="{{ relref $.Page .url }}">{{.name}}</a></li>
		{{ else }}
		<li><a href="{{ $url }}">{{.name}}</a></li>
		{{ end }}
		{{ template "sublinks" (dict "links" .links "page" $.Page) }}
	</ul>
{{ end }}


{{ define "sublinks" }}
<ul>
	{{ $page := .page}}
	{{ range .links }}
	{{ $u := urls.Parse .url }}
	{{ $url := .url }}
	{{ if not $u.IsAbs }}
		<li><a href="{{ relref $page .url }}">{{.name}}</a></li>
	{{ else }}
	<li><a href="{{ $url }}">{{.name}}</a></li>
	{{ end }}
	{{ template "sublinks" (dict "links" .links "page" $page) }}
	{{ end }}
</ul>
{{ end }}
